/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
	right: 0;
    z-index: 9999;
    background: #34495e;
    font-size: 0.9em;
    font-weight: bold;
    overflow: auto;
    margin: 0;
}

.pushy a{
    display: block;
    color: #ecf0f1 !important;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans";
    font-weight: normal;
}

.pushy a:hover{
    background: #65c6bb;
    color: #FFF !important;
}

.pushy ul {
	margin: 0;
	padding: 0;
}

.pushy ul li {
	width: 100%;
}

.link-active {
	background: #5c97bf;
}

/* Menu Movement */

.pushy-right{
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

/* Menu Transitions */

.pushy, #wrapper, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
    /* improves performance issues on mobile*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 200px;
    z-index: 9999;
}